<!DOCTYPE html>
<html>
  <head>
    <title>Goodbye</title>
  </head>
  <body>
    <% date = Date.today %>
    <p><%= "The date is #{date.strftime([format='%A, %B %-d, %Y'])}" %></p>
  </body>
</html>
